@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整（ちょうせい） */
    font-size: 65%;
  }
  
body{
    line-height: 1.5;
    color: rgb(73, 72, 72);
    font-size: 1.6rem; /* 16px */
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    text-align: center;
    background-color:lightgrey;
}

header, main, footer, h1, h2, h3, p, div, .container01, .filler01 {
  margin: 0.5em 0em 0em 0em;
  padding: 0.1em;
}
/*****************************/
/* 見出し（みだし）           */
/*****************************/
h1 {
  color: rgb(181, 242, 252);
  background-color:  #46aef7;
}
/*****************************/
/* セクション                 */
/*****************************/
.container01 {
  border-radius: 0.5em 1.5em;
  background-color: lemonchiffon;
  background: url(../img/back.jpg);
  background-size: cover;
}
/*****************************/
/* class="lemon-container01" */
/*****************************/
.lemon-container01{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.foler-block01{
  position: relative;
  width: 16em;
  height: auto;
  margin-left:2em;
  margin-right: 2em;
}
.folder-block01 > p {
  font-weight: bold;
  text-align: center;
}
.foler-item01{
  position: relative;
  top: 0;
  left: 0;
  width: 16em;
  height: auto;
  /* overflow: hidden; */
  cursor: pointer;
  user-select: none;
}
.folder-item01 img{
  width: 16em;
  height: auto;
  object-fit: cover;
}

.lemon-block01{
  position: relative;
  width: 16em;
  height: 22em;
  margin-left:2em;
  margin-right: 2em;
}
.lemon-block01 > p {
  font-weight: bold;
  text-align: center;
}

.lemon-item01{
  position: relative;
  top: 0;
  left: 0;
  width: 16em;
  height: 16em;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.lemon-item01 img{
  width: 16em;
  height: 16em;
  object-fit: cover;
}
.lemon-item01 .caption {
  padding-top: 7em;
  font-size: 1em;
  text-align: center;
  color:	white;
}
.lemon-item01  .mask {
  position: absolute;	/* 絶対位置指定 */
  width: 100%;
  height: 100%;
  top: -110%;	/* 枠の上に置いて表示させない */
  left: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.7);	/* マスクは半透明 */
  transition: all 1s ease;
}
.lemon-item01:hover .mask {
  top: 0;	/* 下に降りてくるように見せる */
}
.whitesmoke {
  background-color: whitesmoke;
}

/*****************************/
/* フッター                   */
/*****************************/
footer {
  color: whitesmoke;
  text-align: center;
  background-color: #46aef7;
}
/*****************************/
/* 文字スペース               */
/*****************************/
.mgn-01{
  margin-left: 1em;
  margin-right: 1em;
}
/*****************************/
/* レスポンシブ対応           */
/*****************************/
@media screen and (max-width: 480px){
  h1{
      font-size: 100%;
  }
  .cat-container01, .cat-container02, .cat-container03{
      flex-flow: column;
  }
}