@charset "utf-8";

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothi ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
     /*background: rgb(233, 168, 227);*/
    background-image: url("../img/football.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 8px;
    background: rgb(71, 71, 71);
    color: rgb(255, 251, 0);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    filter:opacity(0.6);
    -webkit-filter:opacity(0.6);
}

.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}

.game-container {
    padding: 40px 0;
}

.message-container {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}

.js-hidden {
    display: none;
}

.js-pen-checked::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: '';
    background-image: url(../img/barcelona.png);
    background-size: contain;
}

.js-bear-checked::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: '';
    background-image: url(../img/real1.png);
    background-size: contain;
}

.js-clickable {
    content: '';
}

.js-unclickable {
    pointer-events: none;
}



.squares-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 200px;
}

.squares-box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5); /*fukada-add*/
    /*border: solid 2px #333;*/
}

.square {
    position: relative;
    width: calc(196px / 3);
    height: clac(196px / 3);
    border: solid 2px #333;
}

#a_1 {
    border-top: none;
    border-left: none;
}
#a_2 {
    border-top: none;
}
#a_3 {
    border-top: none;
    border-right: none;
}
#b_1 {
    border-left: none;
}
#b_3 {
    border-right: none;
}
#c_1 {
    border-bottom: none;
    border-left: none;
}
#c_2 {
    border-bottom: none;
}
#c_3 {
    border-bottom: none;
    border-right: none;
}

/* fukada chg-str */
/*winner-line high-light*/
/* .js-pen_highLight {
    border: solid 2px Cyan;
}

.js-bear_highLight {
    border: solid 2px yellow;
} */
.js-pen_highLight, .js-bear_highLight {
    display:inline-block;
    position:relative;
    overflow:hidden;
}

.js-pen_highLight:after {
    content:"";
    height:100%;
    width:30px;
    position:absolute;
    top:-180px;
    left:0;
    background-color: white;
    opacity:0;
    transform: rotate(45deg);
    animation: reflection1 3s ease-in-out infinite;
}
@keyframes reflection1 {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}

.js-bear_highLight:after {
    content:"";
    height:100%;
    width:30px;
    position:absolute;
    top:180px;
    left:0;
    background-color: white;
    opacity:0;
    transform: rotate(45deg);
    animation: reflection2 3s ease-in-out infinite;
}
@keyframes reflection2 {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
/* fukada chg-end */
.btn {
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;/*24*/
    background: rgb(26, 212, 212);
    user-select: none;
    cursor: pointer;
}

.back {
    margin-top: 8px;
    text-align: left;
}

/*new game button*/
.btn-container {
    padding-top: 40px;
}

#btn90:hover {
    /*background-color: #ffd347;*/
    opacity: 0.6;
    color: black;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    transition-duration: 0.4s;
}

footer>p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgb(1, 24, 31, 0.7);
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding-bottom: 23px;
    }

    .btn-container {
        padding-top: 2px;
    }

    header {
        font-size: 24px;
    }

    #msgtext {
        font-size: 20px;
    }
}